@import url('https://fonts.googleapis.com/css2?family=DynaPuff&display=swap');

* {
    font-family: 'DynaPuff', sans-serif !important;
}

.nav {
    background-color: #FFF !important; 
}

.navbar-light .navbar-brand {
    color: #ce9563;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #ce9563;
}

.jumbotron {
    color: #e0b48e;
    background-image: url("jumbotron-img-1.jpg");
    background-size: cover;
    background-position: center center;
    height: 600px;
    padding: 0px 0px !important;
}

.box {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 0px 10px;
}

.btn-outline-secondary {
    color: #e0b48e;
    border-color: #e0b48e;
}

.btn-outline-secondary:hover {
    color: #fff;
    background-color: #e0b48e;
    border-color: #e0b48e;
}

.callToAction {
        padding-top: 18%;
    padding-bottom: 18%;
}

.callToAction > h5 {
    font-size: 60px;
}

.subHeading {
    text-align: center;
}

.subHeading > h5 {
    font-size: 36px;
    color: #ce9563;
}

.card-body {
    text-align: center;
}

.card-title {
    margin-top: 10px;
}

img {
    width: 70%;
}

.footer {
    height: 100px;
}

.socialIcons {
    text-align: center;
    font-size: 3em;
    padding-top: 20px;
}

.card {
    border: none;
}

.services {
    border: 2px solid #e0b48e;
}

.card-body > h5 {
    color: #ce9563;
}

/* pop-up chat */

.openChatBtn {
    background-color: rgb(123, 28, 179);
    color: white;
    padding: 16px 20px;
    border: none;
    font-weight: 500;
    font-size: 18px;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
 }
 .openChat {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #ff08086b;
    z-index: 9;
 }
 form {
    max-width: 300px;
    padding: 10px;
    background-color: white;
 }
 form textarea {
    width: 100%;
    font-size: 18px;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    font-weight: 500;
    background: #d5e7ff;
    color: rgb(0, 0, 0);
    resize: none;
    min-height: 200px;
 }
 form textarea:focus {
    background-color: rgb(219, 255, 252);
    outline: none;
 }
 form .btn {
    background-color: rgb(34, 197, 107);
    color: white;
    padding: 16px 20px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
 }
 form .close {
    background-color: red;
 }
 form .btn:hover, .openChatBtn:hover {
    opacity: 1;
 }

 /* products */

.nav {
    background-color: #FFF !important;
}

.navbar-light .navbar-brand {
    color: #e0b48e;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #e0b48e;
}

form {
    text-align: center;
}

h5 {
    text-align: center;
}

.card-body {
    text-align: center;
}

.card-title {
    margin-top: 10px;
}

img {
    width: 70%;
}

.footer {
    height: 100px;
    width: 100vw;
    margin-left: -15px;
}

.social {
    text-align: center;
    font-size: 5em;
    padding-top: 20px;
}

.card {
    border: none !important;
}

button {
    margin-bottom: 10px !important;
} 

#back-to-top {
    background-color: rgba(178, 103, 94, 0.7);
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10vh;
    right: 10px;
    cursor: pointer;
}